#contato {
    margin: 2px;
    padding: 2px;
    position: relative;
    float: right;
}

#bitbucket {
    margin: 2px;
    padding: 2px;
    position: relative;
    float: right;
}

#gitlab {
    margin: 2px;
    padding: 2px;
    position: relative;
    float: right;
}

#select {
    margin: 2px;
    padding: 2px;
    position: relative;
    float: left;
}

#search {
    margin: 2px;
    padding: 2px;
    position: relative;
    float: left;
}